{% extends "about.html" %}
{% block about %}
<h1>Our Vision</h1>
</br>
At Groblersdal Academy we inspire young minds to be extraordinary. The strength of our faith, our commitment to excellence and diversity takes us beyond the classroom, nurturing proud South African leaders with a global vision.
</br>
By implementing the latest proven learning and teaching techniques and educational trends, as well as remaining abreast of the latest developments in technology, we aim to equip learners to be self-reliant, fulfilled and innovative thinkers.
</br>
<h1>Our Mission</h1>
</br>
At Groblersdal Academy it is our mission to:
</br>
Create and maintain a challenging, progressive, holistic and dynamic environment, which equips young South Africans to be skilled in life.
</br>
Go beyond the classroom in developing young leaders skilled to be global citizens who highly prize integrity, values and morals.
</br>
Concern ourselves with the school’s beliefs that reach beyond the individual components of academy, sport and culture where success ultimately translates into confident, courteous and courageous young adults.
</br>
Nurture and empower young people to become purposeful, compassionate and inspiring individuals who challenge mediocrity with a desire to serve their fellow man.
</br>
Act as exemplary role models as a board and as staff by setting a tone of professionalism, commitment and social awareness to education.
</br>
Recruiting excellent passionate and knowledgeable educators.
</br>
Share the ethos of our school with our parents and the wider communities in which we operate.
</br>
<h1>Our Values</h1>
</br>
At Groblersdal Academy our values are: Our Christian ethos.
</br>
A heightened social awareness in everything we do. Striving with humility for extraordinary achievement.
</br>
Red - Respect: for everyone we come into contact with dignity.
</br>
Sky Blue - Trustworthiness: to be accountable for one’s conduct.
</br>
Cherise Pink - Caring: to be considerate, empathetic and compassionate to all mankind.
</br>
White - Fairness:  to display sportsmanship, be impartial and not to take advantage.
</br>
Green - Citizenship: to co-operate, participate, be involved and protect.
</br>
Orange - Responsibility: to be accountable, self disciplined and strive to do things better.
</br>

{% endblock %}