{% extends "inherit.html" %}
{% block content %}
<div class="row">
<div class="col-sm order-sm-2">

<div class="card">
<div class="card-body">

<div>
{% block about %}{% endblock %}
</div>

</div>
</div>
</div>

<div class="col-sm order-sm-1">
<div>
<h1>Contact Details</h1>
<p>Tel: 013 262 2216 | 5343</p>
<p>Fax: 086 540 9115</p>
<p>Pre School: 013 2625710</p>
<a href="mailto:#">Click here to send us an email</a>
<h2>Postal Address:</h2>
<p>Private Bag X 8672, Groblersdal, 0470</p>
<h2>Physical Address:</h2>
<p>1 Syringa Street, Groblersdal, 0470</p>
</div>
</div>
</div>
{% endblock %}