{% extends "inherit.html" %}
{% block content %}
<div class="row">
<div class="col-sm order-sm-2">
<div class="card">
<div class="card-body">
<div class="row">
<div>
<h2>Applications for 2019 is now OPEN</h2>
<h2>Applications closing date is 31 May 2018</h2>
<h2>School Fees</h2>
<p>Gr 1 – 6 R710.00 x 11 months = R 7810.00 per year</p>
<p>Gr 7 – 12 R990.00 x 11 Months = R10890.00 per year</p>
<h2>Preschool Fees</h2>
<p>R710.00 per month X 11 Months = R7810 per year</p>
<h2>FET Phase:</h2>
<p>Gr 7 - Gr 12: 07h00 - 13h10</p>
</div>
<div>
<h1>Sport</h1>
</div>
<div>
<li>- Hockey</li>
<li>- Athletics</li>
<li>- Netball</li>
<li>- Soccer</li>
<li>- Rugby</li>
<li>- Chess</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-sm order-sm-1">
<h1>Contact Details</h1>
<p>Tel: 013 262 2216 | 5343</p>
<p>Fax: 086 540 9115</p>
<p>Pre School: 013 2625710</p>
<a href="mailto:#">Click here to send us an email!</a>
<h2>Postal Address:</h2>
<p>Private Bag X 8672, Groblersdal, 0470</p>
<h2>Physical Address:</h2>
<p>1 Syringa Street, Groblersdal, 0470</p>
</div>
</div>
{% endblock %}