{% extends "about.html" %}
{% block about %}
<div class="align-middle" >
<h1>National Anthem</h1>

Nkosi sikelel' iAfrika</br>
Maluphakanyisw’ uphondo lwayo,</br>
Yizwa imithandazo yethu,</br>
Nkosi sikelela, thina lusapho lwayo</br>

Morena boloka setjhaba sa heso,</br>
O fedise dintwa le matshwenyeho,</br>
O se boloke, O se boloke setjhaba sa heso,</br>
Setjhaba sa South Afrika - South Afrika.</br>

Uit die blou van onse hemel,</br>
Uit die diepte van ons see,</br>
Oor ons ewige gebergtes,</br>
Waar die kranse antwoord gee,</br>

Sounds the call to come together,</br>
And united we shall stand,</br>
Let us live and strive for freedom,</br>
In South Africa our land.
</div>
{% endblock %}