{% extends "inherit.html" %}
{% block content %}
<div class="col-6 order-sm-1">
<h1>School Hours</h1>
<h2>Junior Primary Phase:</h2>
<p>Gr 1 - Gr 2: 07h00 - 12h00</p>
<p>Gr 3: 07h00 - 12h30</p>
<h2>Intermediate Phase:</h2>
<p>Gr 4 - Gr 6: 07h00 - 13h10</p>
<h2>FET Phase:</h2>
<p>Gr 7 - Gr 12: 07h00 - 13h10</p>
</div>
<div class="col-6 order-sm-1">
<h1>School Hours</h1>
<h2>Junior Primary Phase:</h2>
<p>Gr 1 - Gr 2: 07h00 - 12h00</p>
<p>Gr 3: 07h00 - 12h30</p>
<h2>Intermediate Phase:</h2>
<p>Gr 4 - Gr 6: 07h00 - 13h10</p>
<h2>FET Phase:</h2>
<p>Gr 7 - Gr 12: 07h00 - 13h10</p>
</div>
<div class="col-6 order-sm-1">
<h1>EXTRA-MURAL ACTIVITIES</h1>
<p>Athletics (quarter 1 & 4)</p>
<p>Cross-Country (quarter 2 & 3)</p>
<p>Netball (quarter 2)</p>
<p>Mini-Cricket (quarter 2 & 3)</p>
<p>Soccer (quarter 2)</p>
<p>Speak Out (all year)</p>
<p>Cricket (quarter 3)</p>
<p>Remedial classes (all year)</p>
<p>Hockey (quarter 2 & 3)</p>
<h2>Activity Periods:</h2>
<p>Monday - Thursday, 13h00 - 14h00</p>
</div>
{% endblock %}