{% extends "about.html" %}
{% block about %}
<p>“A learner’s fundamental human rights and freedoms can never justify any misconduct by such a learner. Human rights do not give any learner the freedom or the power to disrupt or paralyze a school, to infringe the rights of other learners to learn or to be taught or to infringe their right to human dignity or their right to freedom.”</p>
<h1>Groblersdal Academy 10 commandments</h1>
<ol>
<li>Meet all deadlines, appointments and commitments.</li>
<li>Show respect for others, their possessions and their privacy.</li>
<li>Use acceptable language.</li>
<li>Do not prevent the teacher from teaching or other pupils from learning.</li>
<li>Be neat in your person, possessions and work.</li>
<li>Accept responsibility for yourself.</li>
<li>Follow instructions given to you by those in authority over you.</li>
<li>Behave in an orderly and civilized manner.</li>
<li>Do not litter and do not destroy school property.</li>   
</ol>
<h1>1. Categories of offences</h1>
<h2>Category 1 - Only a guideline</h2>
<p>Playing with cell phones / MP 3 players - will be confiscated (Sealed & locked in a safe)</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Offence</th>
      <th scope="col">Penalty</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Text book at home</td>
      <td>-2</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Swearing</td>
      <td>-2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Late for class</td>
      <td>-2</td>
    </tr>
	<tr>
      <th scope="row">4</th>
      <td>Littering</td>
      <td>-2</td>
    </tr>
	<tr>
      <th scope="row">5</th>
      <td>Incorrect uniform</td>
      <td>-2</td>
    </tr>
	<tr>
      <th scope="row">6</th>
      <td>Eating and chewing gum</td>
      <td>-2</td>
    </tr>
	<tr>
      <th scope="row">7</th>
      <td>Not lining up</td>
      <td>-2</td>
    </tr>
	<tr>
      <th scope="row">8</th>
      <td>Slow in taking out books / start to work</td>
      <td>-2</td>
    </tr>
	<tr>
      <th scope="row">9</th>
      <td>Books not covered</td>
      <td>-2</td>
    </tr>
	<tr>
      <th scope="row">10</th>
      <td>Disrespect of monitors</td>
      <td>-2</td>
    </tr>
	<tr>
      <th scope="row">11</th>
      <td>Homework incomplete</td>
      <td>-2</td>
    </tr>
	<tr>
      <th scope="row">12</th>
      <td>Disruptive / unacceptable behaviour</td>
      <td>-2</td>
    </tr>
	<tr>
      <th scope="row">13</th>
      <td>Fighting (Bullying)</td>
      <td>-5</td>
    </tr>
	<tr>
      <th scope="row">14</th>
      <td>Homework not done; workbook at home or work not handed in on time</td>
      <td>-5</td>
    </tr>
	<tr>
      <th scope="row">15</th>
      <td>Copying of homework</td>
      <td>-5</td>
    </tr>
	<tr>
      <th scope="row">16</th>
      <td>Graffiti</td>
      <td>-5</td>
    </tr>
	<tr>
      <th scope="row">17</th>
      <td>Disrespect for teachers</td>
      <td>-10</td>
    </tr>
	<tr>
      <th scope="row">18</th>
      <td>Bunking period</td>
      <td>-10</td>
    </tr>
	<tr>
      <th scope="row">19</th>
      <td>Vandalism</td>
      <td>-10</td>
    </tr>
	<tr>
      <th scope="row">20</th>
      <td>Walking around</td>
      <td>-10</td>
    </tr>
	<tr>
      <th scope="row">21</th>
      <td>Stealing</td>
      <td>-10</td>
    </tr>
	<tr>
      <th scope="row">22</th>
      <td>Forging a signature</td>
      <td>-10</td>
    </tr>
  </tbody>
</table>
<h2>Category 2:</h2>
<p>To be dealt with by the disciplinary committee</p>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bunking school</td>
    </tr>
	<tr>
      <th scope="row">2</th>
      <td>Fighting (Violent)</td>
    </tr>
	<tr>
      <th scope="row">3</th>
      <td>Bullying (Constant)</td>
    </tr>
	<tr>
      <th scope="row">4</th>
      <td>Smoking</td>
    </tr>
	<tr>
      <th scope="row">5</th>
      <td>Stealing</td>
    </tr>
  </tbody>
</table>
<h2>Category 3:</h2>
<p>To be dealt with by the principal and deputy principal</p>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>In possession of alcohol</td>
    </tr>
	<tr>
      <th scope="row">2</th>
      <td>In possession of drugs</td>
    </tr>
	<tr>
      <th scope="row">3</th>
      <td>In possession of weapons</td>
    </tr>
	<tr>
      <th scope="row">4</th>
      <td>Continuous offenders</td>
    </tr>
	<tr>
      <th scope="row">5</th>
      <td>Vandalism</td>
    </tr>
	<tr>
      <th scope="row">6</th>
      <td>Assault (teacher) or adults</td>
    </tr>
  </tbody>
</table>
<h1>2. The Disciplinary Path</h1>
<h2>A - The 1st and 2nd Detention</h2>
<ol>
<li>20 Demerits Primary School and 30 demerits High School.</li>
<li>Parents are informed via a detention letter.</li>
<li>Parents must sign the letter and send it back to school.</li>
<li>Learners who do not turn up for detention will be suspended from class for a day.</li>
</ol>
<h2>Detention Classes</h2>
<ol>
<li>Grade 4 -  7: Every Friday from 13:00 - 14:30 (1½ hours) Grade 8 - 11: Every Monday from 13:00 - 16:00 (3 hours)</li>
<li>The educator on duty is responsible for collecting the signed letters, take roll call.</li>
<li>The educator on detention duty completes the checklist.</li>
<li>Absentees go to the discipline co-ordinator for follow up - Monday morning.</li>
<li>The forms and signed letters go back to class teachers.</li>
</ol>
<h2>B - The 3rd Detention - First Disciplinary Suspension</h2>
<ol>
<li>*After 3 detentions the child receives a suspension letter from the school for:</br>
    3 days High School and</br>
    2 days Primary school</br>
    * Parents receive a suspension letter.</br>
*VERY IMPORTANT: Behaviourial reports must be completed by the class teachers.</li>
<li>*After suspension, the child becomes part of the rehabilitation program
     and carries a Behaviour Report Book  - Primary School.</li>
</ol>
<h2>C - The 6th Detention - 2nd Disciplinary Suspension</h2>
<ol>
<li>*Learner is suspended for 3 days - High School</br>
    *Learner is suspended for 2 days - Primary School</br>
    *Learner receives a warning letter to give to the parents.</br>
    *Parents are called for an interview and sign a final written warning.</li>
</ol>
<h2>D - Disciplinary Hearing (in front of SGB) - 7 Detentions</h2>
<ol>
<li>*Any further detention automatically leads to a SGB Hearing </br>
    *Child and parents must be present.</li>
</ol>
<h2>E - Continuous Offenders</h2>
<ol>
<li>*Continuous offenders may be expelled or removed from school
      for a certain period of time.</br>
    *Frequent repetition of a certain grade of offence(Grade 1, 2, 3, 4);
      will automatically be seen as the next level of offence.</li>
</ol>
{% endblock %}