{% extends "about.html" %}
{% block about %}
<h1>1. What is Homework?</h1>
It is definitely work that should be done at home. It should be encouraged to be done at home - then it becomes more meaningful. At home pupils have time to reflect on the day’s work, they have time to test their recollection of what was done in the class. They have time to consolidate.

<h1>2. Salient Points about Homework</h1>
It should be relevant and meaningful.
It should test pupil’s understanding of the work done in school.

It should not involve too much research, but it should be thought provoking. Homework should be done entirely by the pupil. It must include the pupil’s thoughts and thinking processes - not their parent’s, sibling’s or friends.

<h1>3. Checking of Homework</h1>
Teacher should spend +- 5 minutes to check if every pupil has ATTEMPTED homework. There should be WRITTEN PROOF that homework wasattempted.

Teacher reprimands or punish children that have not completed or made no attempt at doing the homework.

Reward/praise the children that have done the homework.

Encourage pupils to make an attempt (written) even if homework is difficult. EMPHASIS should be placed on attempting every question rather than having every question correct. Pupil’s minds are working, thinking as they make the attempt and that is the idea behind giving homework.

<h1>4. Why is Homework necessary?</h1>
Pupils should be encouraged and motivated to do homework. It is important to know that when pupils do homework they are actually studying the relevant work. They must not do it for the sake of showing the teacher they have made an attempt.

When pupils do begin studying for a test all the homework they have done will make their studying easier.

<h1>5. The Homework Timetable</h1>
Pupils should draw up a homework timetable. Homework time should include all STUDYING time for tests, exams as well as time for assignments.

ALLOCATE TWENTY (20) MINUTES EVERY DAY FOR READING - Reading story books, magazines (educational), newspapers, textbooks, notes, etc.

<h1>6. The Parent's Role</h1>
Every parent must have:

- A copy of their child’s class timetable.
- A copy of the school’s term planner pasted on the fridge at home so that it is easily visible for the parent to remind their child of their daily responsibilities.

This must also serve as a reminder for the parent’s role in monitoring their child.

The parent must also physically check every day that the relevant schoolwork for that day is done before the child goes to bed.

The parent must sign the child’s diary acknowledging that the relevant day’s homework has been done.

By checking the term program the parent must also remind the child to study well in advance for an exam or test, not just speak to them about this, but must sit down with them and see that they are studying schoolwork and not some kind of magazine etc.

Educators will be checking homework on a regular basis by putting a stamp/ signing the learner’s book. Parents will also have a space to sign. It is expected of parents to check the homework at regular intervals.

<h1>7. The Learner's Role</h1>
The learner must have a homework diary to enter relevant information about daily school activities that overlap with working at home.

The diary must be in the learner’s bag every day - parent to check this. When learner loses the school diary he will be expected to pay a fine.

When learner left the diary at home he/she will be given demerits and a warning. If the diary is left at home again he/she will get detention.

It is expected of the learner to USE the diary as a tool to manage time effectively and constructively.

<h2>Demerits</h2>
Grade 1 Offence Homework incomplete: - 2 (Demerits) </br>
Homework not done: - 5 (Demerits)
{% endblock %}