{% extends "inherit.html" %}
{% block content %}

<div class="row">

<div class="col-sm order-sm-2">

<div class="card">
<div class="card-body">
<div class="row">
<div class="col-sm">
<img class="img-fluid" alt="" src="{{url_for('static', filename='img/gallery/245269594_4222671564527813_6563740399959321515_n.jpg')}}" />
</div>

<div class="col-sm">
<img class="img-fluid" alt="" src="{{url_for('static', filename='img/gallery/246854441_4246900402104929_7878275032803494406_n.jpg')}}" />
</div>

<div class="col-sm">
<img class="img-fluid" alt="" src="{{url_for('static', filename='img/gallery/247238914_4246900755438227_6659030069269915922_n.jpg')}}" />
</div>
</div>
<div class="row">
<div class="col-sm">
<img class="img-fluid" alt="" src="{{url_for('static', filename='img/gallery/245261131_4222666161195020_1011848537267087367_n.jpg')}}" />
</div>

<div class="col-sm">
<img class="img-fluid" alt="" src="{{url_for('static', filename='img/gallery/247222920_4246900942104875_2632146946333377624_n.jpg')}}" />
</div>

<div class="col-sm">
<img class="img-fluid" alt="" src="{{url_for('static', filename='img/gallery/83513107_2545498958911757_2994541637897551872_n.jpg')}}" />
</div>
</div>
<div class="row">
<div class="col-sm">
<img class="img-fluid" alt="" src="{{url_for('static', filename='img/gallery/243169847_4222674571194179_4765929187319480886_n.jpg')}}" />
</div>

<div class="col-sm">
<img class="img-fluid" alt="" src="{{url_for('static', filename='img/gallery/103937072_2832927596835557_5675553887500059816_n.jpg')}}" />
</div>

<div class="col-sm">
<img class="img-fluid" alt="" src="{{url_for('static', filename='img/gallery/271781095_4524442847684015_1359170164280869951_n.jpg')}}" />
</div>
</div>
</div>
</div>
</div>

<div class="col-sm order-sm-1">
<div>
<h1>Contact Details</h1>
<p>Tel: 013 262 2216 | 5343</p>
<p>Fax: 086 540 9115</p>
<p>Pre School: 013 2625710</p>
<a href="mailto:#">Click here to send us an email.</a>
<h2>Postal Address:</h2>
<p>Private Bag X 8672, Groblersdal, 0470</p>
<h2>Physical Address:</h2>
<p>1 Syringa Street, Groblersdal, 0470</p>
</div>
</div>

</div>

{% endblock %}