{% extends "academic.html" %}
{% block about %}
<h1>Subjects: Grades 10 - 12</h1>
<ul>
<li>- English Home Language</li>
<li>- English First Additional Language</li>
<li>- Afrikaans First Additional Language</li>
<li>- Sepedi Home Language</li>
<li>- Mathematics</li>
<li>- Maths Literature</li>
<li>- CAT</li>
<li>- Business Studies</li>
<li>- Life Science</li>
<li>- Physical Science</li>
<li>- Accounting</li>
<li>- Tourism</li>
<li>- Geography</li>
<li>- History</li>
<li>- Coding & Robotics</li>
</ul>
{% endblock %}