{% extends "about.html" %}
{% block about %}
<h1>1. Erolment Criteria & Procedures</h1>

1.1 Criteria for Admission of Pupils

</br>Pupils seeking admission to Groblersdal Academy are expected to maintain the ethos of the school. The aim of the school is to provide quality educative teaching in order to meet the main goal of education namely: for every child to be a responsible, useful citizen of South Africa who can contribute to the country’s economy and social well being.

Parents are expected to support these criteria and encourage their children to comply with these criteria whenever a choice is to be made.

</br>1.2 Groblersdal Academy is a Christian school with an open school policy.

</br>Children not professing the Christian faith may be excused from attending or participating in Bible Education classes or any other religious activities.

</br>1.3 Ideally, the age of the pupils seeking enrolment at Groblersdal Academy may not differ by more than two years from the average age of the pupils in that class. Pupils may fail only twice during their primary school career. Any pupil failing a second (2nd) time will be referred to the SEN advisor.

</br>1.3.1  The criteria for enrolment laid down by the National or Provincial Education Authorities must be adhered to. A child may be enrolled in the year in which he/she turns six (6) before 30 June, and he/she must attend school in the year he/she turns seven (7).

</br>1.3.2 When applying for admission, the original birth certificate, transfer card, ID of parents and pupil and the latest school report, must accompany the application.

</br>1.3.3 All pupils are expected to wear the official school uniform and abide by the school rules. Each family will be provided with the school rules.

</br>1.3.4 Pupils within the natural feeder area of the school will be given preference when applying for enrolment. Pupils from outside the natural feeder area will only be admitted if the school is not running at full capacity. The natural feeder area includes those children who live in the area where Groblersdal Academy is the closest to their homes.

</br>1.3.5 Pupils are expected to take part in extra-mural activities for which extra fees may be levied. These activities include sport, cultural activities, educational tours and educational excursions.

</br>1.3.6 Parents are expected to pay school fees as the Governing Body deems fit. (Government Gazette no. 19347 of 1998.) R100.00 registration and R630.00 per month for 11 months for primary school and this includes transport cost for the year. Grade 7 - 12 will pay R880.00 per month for 11 months.

</br>2. What do we expect from our pupils?

</br>2.1 General Conduct

</br>2.1.1 The law of our country compels each pupil to remain at school until the end of the year in which he/she turns 15 years old. Make the best of this opportunity.

</br>2.1.2 Do not hesitate to discuss with the principal any problems you may havel.

</br>2.1.3 A pupil must remember that this behaviour in public, whether he is in school uniform or not, reflects not only his home and upbringing, but also his school. His own reputation and also the reputation of the school is jeopardized by his bad behaviour.

</br>2.1.4 The school uniform must be worn with pride whenever the occasion demands it, e.g. when attending official school functions or while on organized school journeys or visits.

</br>2.1.5 No pupil may leave the school grounds during school hours without the principal’s permission. Pupils must wait in the foyer if parents are to collect them early.

</br>2.1.6 We expect prefects to treat all scholars with sympathy and understanding, but at the same time, we expect all scholars to respect and obey the prefects.

</br>2.1.7 Pupils may not buy from vendors at the gates or over the fence during school hours. We do have a Tuck Shop.

</br>2.1.8 The school cannot accept responsibility for loss or theft of personal property although all possible precautions are taken. Please mark all items clearly and permanently.

</br>2.1.9 Pupils may not bring any potentially dangerous articles such as crackers, pea shooters, knives etc. to school.

</br>2.1.10 No toys, pets, etc. are allowed at school.

</br>2.1.11 It does not cost anything to be friendly, kind and helpful to teachers and fellow pupils.

</br>2.1.12 Any person visiting the school for whatever reason must report to the Administration Office.

</br>2.1.13 Except in the case of dire emergency no telephone messages will be delivered to pupils.

</br>3. Cell Phones

</br>3.1 If a cell phone is stolen or lost the school does not take any responsibility for it.

</br>4. Assembly

</br>4.1 Assembly is held in the hall at 07:00 on Mondays.

</br>4.2 Pupils are expected to enter the hall quickly and quietly in their respective grades.

</br>4.3 No talking will be permitted during assembly.

</br>4.4 After being dismissed from assembly, pupils are to move to their respective register classes or to places appointed for group and team meetings.

</br>5. Injury & Illness

</br>5.1 Injury and illness must be reported to:the class teacher, while in class, or teacher on duty during break your coach (on sport field) or the office.

</br>The teacher, coach or secretary concerned will then give the pupil his/her attention. Pupils who have reported to Sick Bay, may not leave without the knowledge of the secretary. In order to be excused from physical education a pupil will be required to produce a medical certificate or a note from the parent. Pupils must have a sick note from the teacher/coach.

</br>5.2 Contagious Illness

</br>Pupils can be sent to the sick-bay by the class teacher. They must not go there on their own accord. Pupils who have developed infections or contagious diseases must stay at home for the prescribed quarantine period. Pupils who show signs of illness in the mornings (i.e. temperature, vomiting, etc.) should be kept at home.

</br>5.3 Parents should be aware that the school is not permitted to give out any medicine.

</br>6. Buildings, Grounds & Other Facilities

</br>We are proud of what we have at this school. Let each of us be a caretaker. Let us help to build rather than to destroy. These facilities belong to us. We expect the pupils to use them well, but to respect them and also contribute their share. The cost of willful damage by a pupil to buildings, grounds or school property will be charged to parents.

</br>7. Care for School Books & Equipment

</br>7.1 Books may not be carried in a plastic bag or school bags with soft sides. Proper hard lined cases must be used. Failure to do so will result in the books being removed from the child. These books will be kept at school as books are very expensive and are damaged if carried in a soft sided plastic bag.

</br>7.2 Text books will be supplied on loan to all pupils. All text books must be well covered, cared for and treated with respect. Text books damaged or lost by pupils will have to be replaced at the pupil’s cost, at current replacement value - including VAT, postage and packaging.

</br>7.3 Pupils will be held responsible for school equipment and apparatus placed in their care. If lost or damaged pupils will have to replace the equipment. Should it be part of a set and individual parts cannot be purchased, the full set will have to be replaced.

</br>8. School Attendance

</br>8.1 Pupils must not be kept out of school for trivial reasons. This seriously impedes the child’s progress at school.

</br>8.2 In the event of absence the pupil must hand a letter from his/her parents to his/her class teacher.

</br>9. Absenteeism

</br>Absenteeism from school has a detrimental influence on academic progress. However, if pupils are absent for valid reasons, they must bring to school, on the same day they return, a note from parents explaining the reason for their absence. Should a pupil be absent during an examination period, only a medical certificate will be acceptable to explain the pupil’s absence.

</br>10. School Hours

</br>Junior Primary Phase:	 
</br>Gr. 1 - Gr. 2: 07h00 to 12h00
</br>Gr. 3: 	07h00 to 12h30
 	 
</br>Intermediate Phase:	 
</br>Gr. 4 - Gr. 6: 	07h00 to 13h00
 	 
</br>FET Phase:	 
</br>Gr. 7 - Gr. 12:	07h00 to 13h00
</br>Late comers must report to the office before joining their classes.

</br>11. Out of Bounds

</br>11.1 Area in front of the Administration Block and the Hall.

</br>11.2 Main Office Block foyer may not be used as either an entrance or exit to the school by pupils.

</br>11.3 The School Hall.

</br>11.4 Area where the teachers park their cars.

</br>12. Personal Hygiene

</br>Nails: Must be clean and neatly cut or filed and may not extend past the end of the finger. No nail polish will be allowed.

</br>13. Extramural Activities

</br>13.1 Athletics, soccer, netball, tennis, cricket, mini-cricket, hockey, cross-country, chess, choir, Speak Out and remedial education are official activities.

</br>13.2 Pupils must make every effort to take part in at least one activity offered per term.

</br>13.3 Once a child has been selected to represent his/her school in one of the extra- mural activities, parents are requested to ensure that he/she attends practices and matches or meetings regularly.

</br>13.4 Extra-mural activities will be as follows:

</br>Athletics (quarter 1 & 4)       
</br>Cross-country (quarter 2 & 3)
</br>Netball (quarter 2)                                                    
</br>Mini-cricket (quarter 2 & 3)
</br>Soccer (quarter 2)                                                    
</br>Speak Out (all year)
</br>Cricket (quarter 3)                          
</br>Remedial classes (all year) Hockey (quarter 2 & 3)

</br>Activity period: Monday to Thursday between 13h00 and 14h00.

</br>13.5 Practice times will be given at the beginning of each season.

</br>13.6 It is compulsory for learners to attend the team’s practices.

</br>14. Homework

</br>14.1 Pupils are assessed on a continuous basis and NOT on examinations only. It is therefore essential that all homework and study work is regularly done. Parents should ensure that time is set aside for homework in the afternoons.

</br>15. Interviews with the Principal or Teachers

</br>Interviews can only be granted by prior arrangement through the secretary and only between 13h00 and 14h00, Mondays to Thursdays. Please contact the office to make an appointment. Parents' co-operation in this matter will be appreciated.

</br>16. Lunches

</br>Pupils may eat their lunches on the playground. All waste paper must be placed in the bins. Grace should be said before lunches are eaten.

</br>17. Sickness

</br>Pupils can be sent to the sick-bay by the class teacher. They must not go there on their own accord. Pupils who have developed infections or contagious diseases must stay at home for the prescribed quarantine period. Pupils who show signs of illness in the mornings (i.e. temperature, vomiting, etc) should be kept at home.

</br>18. Clothing

</br>All clothing as well as school books and school bags must be properly marked. Unmarked and unclaimed clothing will be given to charitable organizations or sold at the end of each year.

</br>19. General Guidance to Parents

</br>To ensure harmonious co-operation between your home and the school it is essential that:

</br>19.1 Parents never discuss alleged shortcomings of teachers in the presence of their children. Parents should discuss such problems with the principal. He will be available to attempt to solve any problems. The solution will always be taken in such a way that it is in the best interest of the child.

</br>19.2 Parents must support their children in their school work. It promotes a positive attitude towards learning and work.

</br>19.3 See to it that your child is well groomed, clean and wearing the proper school uniform daily. This enhances the child’s self image and self-esteem which in turn has a positive effect on his/her work.

</br>19.4 Parents must please support our pupils by attending parents' meetings, A.G.M. and pupil activities in general. Parents would greatly benefit their children’s education by contacting the school if a problem occurs or by checking the pupil’s books. Know how your child is doing at school.

</br>19.5 NB: No flamboyant or extravagant hairstyle will be accepted.
{% endblock %}