{% extends "about.html" %}
{% block about %}
<h1>Groblersdal Academy</br>
School Song</h1>
</br>
A valley rich and fertile</br>
With sun so clear and bright</br>
A people rich in culture</br>
A school to bring the light</br>
</br>
<h2>CHORUS</h2>
</br>
I sing because I'm happy</br>
I sing because I'm free</br>
In knowledge lies my future</br>
I know who watches me!</br>
</br>
We work as one together</br>
We persevere and grow</br>
Rejoicing in this blessing</br>
A future bright we know</br>
</br>
Repeat CHORUS
{% endblock %}