{% extends "inherit.html" %}
{% block content %}
<div class="row">
<div class="col-sm order-sm-1">
<div>
<img src="{{url_for('static', filename='img/Staff 2017.jpg')}}" class="img-fluid" alt="Responsive image">
</div>
</div>
<div class="col-sm">
<div>
<h2>Personnel</h2>
<p>Principal Mr J J Roos</p>
<p>Acting Deputy Principal Mrs C Ekman</p>
<p>Admin Mrs S Sutherland</p>
<p>Admin Mrs J van Stryp</p>
<p>Financial Admin Mrs K Kitshoff</p>

<h2>Pre-School</h2>
<p>HOD Mrs A Lourens</p>
<p>Admin Mrs L Eksteen</p>
</div>
<div>
<h1>Contact Details</h1>
<p>Tel: 013 262 2216 | 5343</p>
<p>Fax: 086 540 9115</p>
<p>Pre School: 013 2625710</p>
<a href="mailto:#">Click here to send us an email</a>
<h2>Postal Address:</h2>
<p>Private Bag X 8672, Groblersdal, 0470</p>
<h2>Physical Address:</h2>
<p>1 Syringa Street, Groblersdal, 0470</p>
</div>
</div>
</div>
{% endblock %}