{% extends "academic.html" %}
{% block about %}
<h1>Succesful Study</h1>
<h2>An approach to successful study</h2>
</br>
</br>1. Preparation for the final examinations starts on the very first school day of the
    year.
</br>2. Cultivate an attitude that work is pleasant.
</br>3. Create the right atmosphere for studying at home: no visiting during the week,
    silence and dedication for set periods of time during the day.
</br>4. Be motivated and work towards a goal.
</br>5. Real concentration requires harmony and peace of mind. Organise your life in
    such a way that it is free from conflict.
</br>6. Perseverance, self-discipline, conscientiousness and motivation are all essential
    elements of success.
</br>7. Work and study on a daily basis.

<h2>Hints on Successful Study</h2>
</br>
</br>1. Develop real interest in your work.
</br>2. Ensure that you achieve success. Success breeds success.
</br>3. Concentrate each moment in the classroom and when working at home.
    Constantly ask yourself questions about the work.
</br>4. Pay attention in the classroom and immediately question that which you
    do not understand. Never just listen.
</br>5. Utilise your memory. To recall facts, they need to be imprinted upon your
    mind. Revise and repeat regularly and your mind will absorb the material.
</br>6. Work regularly as well as effectively. Organise your time to accommodate
    both work and recreation.
</br>7. Always do homework yourself.

<h2>A Proven Method of Study</h2>
</br>
</br>1. Get a general idea by quickly reading through the material.
</br>2. Put questions to yourself about the material and write down main points.
</br>3. Now read through the work with concentration, taking in detail. Find the
    answers to your questions and write them down. Write down the most
    important facts under the main points.
</br>4. First memorise the main points and repeat them out loud to yourself.
</br>5. Now learn each main point with its important facts.
</br>6. As soon as you are able to repeat the facts to yourself, write them down
    and check for accuracy.
</br>7. Check whether you know the answers to your questions.
</br>8. Revise all the material again to get an overall picture.
</br>9. If you find that you still do not know the work, repeat steps 1 - 8.
{% endblock %}