{% extends "about.html" %}
{% block about %}
<h1>1. Appearance</h1>
</br>
Uniform and personal appearance reflect a person’s own self-respect and the good name of the school.  Rules on appearance and the correct wear of uniform are necessary.

All pupils must be familiar with the uniform and appearance regulations, as ignorance of these rules is no excuse for failure to comply with the regulations.
</br>
<h1>2. Dress Code</h1>
</br>

<h2>Senior Girls</h2>
</br>Summer Dress Code - 1 September - 15 May: Monday to Friday
</br>School Uniform:  Skirt - sky blue, Shirt - white.
</br>Black school shoes. No fashion shoes. White socks
</br>Underwear:  Navy blue ski pants

</br>Summer Sport Clothes during PT or Sport Periods Only
</br>School Golf T-shirt, navy shorts
</br>Sport shoes - (white with blue or as close as possible to school colours) and white socks or bare feet. No fashion shoes.

</br>Winter Dress Code - 15 May - 31 August: Monday to Friday
</br><h3>School Uniform</h3>

</br>Winter Sport Clothes during PT or Sport Periods Only
</br>School Golf T-shirt, navy shorts
</br>Sport shoes - (white with blue or as close as possible to school colours) and white socks. No fashion shoes.
</br>Track suit.

<h2>Senior Boys</h2>
</br>Summer Dress Code - 1 September - 15 May: Monday To Friday
</br>School Uniform:  White shirt, Grey shorts/long pants
</br>Grey socks.  Black school shoes - no fashion shoes

</br>Summer Sport Clothes during PT or Sport Periods Only
</br>School Golf T-shirt, Navy shorts
</br>Tackies - (white with blue or as close as possible to school colours) and white socks or bare feet. No fashion shoes.

</br>Winter Dress Code - 15 May - 31 August: Monday to Friday
</br>School Uniform:  White shirt, Long grey pants
</br>Black school shoes and grey socks
</br>Tie - navy with school emblem, compulsory for winter dress
</br>Scarves and beanies - navy blue only.

</br>Winter Sport Clothes during PT or Sport Periods Only
</br>School Golf T-shirt and navy shorts.
</br>Track suit. Tackies and grey socks. No fashion shoes.

</br>Navy Blazer with an emblem for boys and girls is optional
</br>It will always be worn with formal school uniform and a tie.
</br>
<h2>3. Jewellery</h2>
</br>
</br>No rings, bangles, chains. Only Medic-Alert bracelets may be worn.
</br>One non-decorative watch for boys and girls allowed.
</br>No chains may be worn around the neck or wrist or ankle, etc.
</br>No studs, tongue rings or other piercings are allowed at school.
</br>
<h2>Earrings:</h2>
</br>

</br>NO earrings for boys are allowed
</br>Only ONE set of small round earrings (studs or rings) is allowed for girls.
</br>Earrings should be silver or gold only. NO coloured, pearl or diamond earrings

</br><h3>Earring size:</h3>
</br>Rings no longer than 1 cm in diameter (10 cent coin).
</br>Studs no bigger than 3mm in diameter
</br>Only one earring per ear. If girls have more than one hole in the ear,
</br>the earring must be in the bottom hole in the earlobe.
</br>
<h2>4. Hats</h2>
</br>
</br>No hats are allowed.
</br>No colourful headbands may be worn by boys or girls.
</br>The school cap may only be worn whilst practising sport or traveling to and from matches.
</br>
<h2>5. Hair & Make-up</h2>
</br>
</br>No Make up is allowed, including lip gloss.
</br>No nail varnish.

</br><h3>Hair - Boys</h3>
</br>All boys’ hair must be short, clean and well groomed. Hair may not be bleached or colour treated.  No beads or moustaches are permitted. No extravagant haircuts allowed.

</br><h3>Hair - Girls</h3>
</br>Fringes must be out of the face.  Long hair (touching the bottom of the collar) should be tied back neatly. Hair may not be bleached or colour treated.
</br>Black hair extensions or - pieces only.
</br>Black, navy or white hair accessories only. Hair accessories should serve a practical and not a decorative purpose.
</br>
<h2>6. Civvy Days</h2>
</br>
No evening wear, party clothes, high heels, bare shoulders, bare midriffs, see through clothes or very short skirts/shorts. 
</br>Jewellery must be age-appropriate.
</br>Learners are advised to wear comfortable clothes on civvy days, e.g. day dress or denim and T-shirt.
</br>
<h2>7. School Cases</h2>
</br>
Togbags are not acceptable as they damage textbooks.
</br>No graffiti allowed.
</br>Official school cases are allowed.
</br>
<h2>8. Clothing Bank</h2>
</br>
A clothing bank is established at Groblersdal Academy. All lost school clothes are picked up and taken to the clothing bank.  Learners may go and identify their property and retrieve it.

</br>Parents are encouraged to donate school uniforms which their children have outgrown.
</br>Uniforms from the clothing bank will be made available to parents unable to afford uniforms.
</br>
</br>
<h1>9. Uniform and Appearance: General Regulations</h1>
</br>
</br>
</br>No form of clothing should be visible under school clothes, e.g. vests, T-shirts, long sleeve shirts.
</br>
</br>School uniform should be worn at school and when traveling to and from school. Part of the uniform may not be worn at any time.
</br>
</br>When traveling to sports venues either the sport attire or the school uniform should be worn. No multicolour hats or other track suit tops. Only sport shoes with sport attire.
</br>
</br>A learner must be properly dressed in school uniform on his/her way to school. Shirts should always be tucked in.
</br>
</br>Only black shoes and belt (boys) may be worn. NO expensive fancy shoes. Learners represent the school whenever and wherever they appear in school uniform. They should behave themselves in a manner that will do the school proud.
{% endblock %}